<ng-container *ngIf="(teams$ | async) as teams">
<!--    <div class="teams__names">-->
<!--        <h1 *ngFor="let team of teams">-->
<!--            {{team.name}}-->
<!--        </h1>-->
<!--    </div>-->
<!--    <div class="content-wrapper">-->
<!--        <h2 class="timer">00:00:00</h2>-->
<!--        <h3 class="content">Тут будет текст</h3>-->
<!--    </div>-->
<!--    <div class="teams__score">-->
<!--        <h2 *ngFor="let team of teams">-->
<!--            {{team.score}}-->
<!--        </h2>-->
<!--    </div>-->

<!--    <div class="teams__result">-->
<!--        <div class="teams__result__wrapper" *ngFor="let team of teams">-->
<!--            <h2>{{team.name}}</h2>-->
<!--            <h1>{{team.score}}</h1>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="start">-->
<!--        <h1>Этап 1</h1>-->
<!--        <h2>Название этапа</h2>-->
<!--    </div>-->
</ng-container>
