:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px;

    background: url("src/assets/background/first-team.jpg") left top no-repeat,
    url("src/assets/background/second-team.jpg") right top no-repeat;
    background-size: 50%, 50%;

    //background: url("src/assets/background/start.jpg");
    //background-size: 100% 100%;
}

.teams {
    &__names {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-size: 33px;
        color: #fff;

        //color: rgba(255, 255, 255, 0.3) for blur

        & > * {
            margin: 0;
        }
    }

    &__score {
        display: flex;
        justify-content: space-between;
        width: 100%;
        color: #fff;
        font-size: 56px;

        & > * {
            margin: 0;
        }
    }

    &__result {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;

        &__wrapper {
            color: #fff;
            text-align: center;
            font-size: 80px;
        }
    }
}

.start {
    text-align: center;
    margin: auto;
    color: #ffffff;
    //text-shadow: 10px 6px 10px rgb(0 0 0 / 50%);

    &__stage-number {
        font-size: 140px;
    }

    &__stage-name {
        font-size: 120px;
    }

    & > * {
        //text-shadow: 10px 6px 10px rgba(0, 0, 0, .6);
    }
}

.content-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}
