:host {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('src/assets/background/welcome.jpg') no-repeat;
    background-size: 100% 100%;
    text-align: center;
}
