@logo-size: 713px;

:host {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #736e06;
    text-align: center;
}

.logo {
    height: @logo-size;
    width: @logo-size;
    background: url("/assets/background/welcome.jpg") center no-repeat;
    border-radius: 50%;
}
