@import '../../../../../assets/styles/background';

:host {
    .teams-background();
}

:host, .wrapper {
    display: flex;
    width: 100%;
}

.first-team, .second-team {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.team-name {
    color: #fff;
    font-size: 58px;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 0 8px;
}
