:host, .wrapper {
    display: flex;
    width: 100%;
    background: url("src/assets/background/first-team.jpg") left top no-repeat,
    url("src/assets/background/second-team.jpg") right top no-repeat;
    background-size: 50%, 50%;
}

.first-team, .second-team {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.team-name {
    color: #fff;
    font-size: 58px;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 0 8px;
}
