:host, .wrapper {
    display: flex;
    width: 100%;
}

.first-team {
    background: url("src/assets/background/first-team.jpg") no-repeat;
    background-size: 100% 100%;
}

.second-team {
    background: url("src/assets/background/second-team.jpg") no-repeat;
    background-size: 100% 100%;
}

.first-team, .second-team {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.team-name {
    font-size: 40px;
    color: #fff;
    background-color: rgba(0, 0, 0, .5);
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 0 8px;
}
