@logo-size: 713px;

:host {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.logo {
    height: @logo-size;
    width: @logo-size;
    background: url('src/assets/background/welcome.jpg') center no-repeat;
    border-radius: 50%;
}
