<ng-container>
    <h2 class="timer">
        <span
            *ngFor="let char of (timer | dualViewTimer : round.timer).split(''); trackBy: trackByIndex"
            class="timer-char"
            [class.timer-char_colon]="char === ':'"
        >{{char}}</span>
    </h2>
    <div
        *ngIf="round.questions[questionNumber] as question"
        [class.content_hide]="isQuestionHide"
        [class.content_img]="question.image"
        [appFitText]="question.text"
        [ngStyle]="boxStyle"
        class="content"
    >
        <img
            *ngIf="question.image"
            [src]="question.image"
            alt="Изображение"
        >
        <h3 *ngIf="question.text">
            {{question.text}}
        </h3>
    </div>
</ng-container>
