<ng-container *ngIf="(teams$ | async) as teams">
    <div class="teams__names">
        <h1
            *ngFor="let team of teams; let index = index"
            [class.blur]="isTeamBlur(index)"
        >
            {{team.name}}
        </h1>
    </div>
    <div
        *ngIf="(round$ | async) as round"
        class="content-wrapper"
    >
        <ng-container
            [ngSwitch]="round.type"
        >
            <common-question
                *ngSwitchCase="questionRound"
                [round]="round"
                [questionNumber]="questionNumber$ | async"
                [isQuestionHide]="isQuestionHide$ | async"
            ></common-question>
            <question-with-timer
                *ngSwitchCase="questionWithTimerRound"
                [round]="round"
                [questionNumber]="questionNumber$ | async"
                [timer]="timer$ | async"
                [isQuestionHide]="isQuestionHide$ | async"
            ></question-with-timer>
            <timer
                *ngSwitchCase="timerRound"
                [round]="round"
                [timer]="timer$ | async"
            ></timer>
        </ng-container>
    </div>
    <div class="teams__score">
        <h2
            *ngFor="let team of teams; let index = index"
            [class.blur]="isTeamBlur(index)"
        >
            {{team.score}}
        </h2>
    </div>
</ng-container>
